<form class="new-song" action="/songs" method="post">
  <input type="text" name="song[title]" value="Title">
  <input type="text" name="song[length]" value="Length">
  <input type="text" name="song[play_count]" value="Play Count">
  <input type="submit" value="Submit">
</form>
